<template name="liftsList">
  <div class="jumbotron search">
    <div id="bg-map"></div>

    <div class="container">
      <div id="search-overlay" class="col-md-10 col-md-offset-1">
        <h2>{{_ "Where do you want to go?"}}</h2>
        <form id="lift-search">
          <span class="padding">
            <input type="text" placeholder="From" class="input-lg form-control"
                   id="from" name="from" />
            <i class="fa fa-map-marker"></i>
          </span>

          <span class="padding">
            <input type="text" placeholder="To" class="input-lg form-control"
                   id="to" name="to" />
            <i class="fa fa-map-marker"></i>
          </span>

          <span class="padding">
            <span class="input-spacer">
              <input type="text" placeholder="When" class="input-lg form-control"
                     id="when" name="when"/>
            </span>
            <i class="fa fa-calendar"></i>
          </span>

          <input type="submit" value="Search"
                 class="btn btn-primary btn-raised btn-material-deep-purple" />
        </form>
      </div>
    </div>
  </div>
  <div class="container" id="latest-lifts">
    <h3>Latest lifts</h3>
    <div class="lifts">
      {{#each lifts}}
        {{> liftItem}}
      {{/each}}
    </div>
  </div>
</template>
