<template name="liftPage">
  <div class="lift" id="lift-page">
    <div class="container">
      <div class="col-md-10">
        <h2>{{from}} to {{to}}</h2>
        <p class="date">{{formatDate date}}</p>
        <p><b>{{price}} <i class="fa fa-{{toLowerCase currency}}"></i></b></p>
      </div>

      <div class="col-md-2" id="seats-available">
        <i class="fa fa-car"></i>

        {{#each seatsCount}}
          <i class="fa fa-male"></i>
        {{/each}}
      </div>

      <div id="duration"></div>
      <div id="distance"></div>
    </div>

    <a href="/" class="btn btn-fab btn-raised contact">
      <i class="fa fa-envelope"></i>
    </a>
  </div>

  <div id="lift-map" class="col-md-8"></div>
</template>
