<template name="userSubmit">
  <form class="form user col-md-4 col-md-offset-4">
    <h1>Last step</h1>

    <p>Lift has been stored properly</p>
    <p>Please enter your email to validate your lift</p>

    <div class="input-group">
      <input class="form-control input-lg" name="email" type="email"
         placeholder="Email" id="email"/>

      <span class="input-group-addon">
        <i class="fa fa-paper-plane"></i>
      </span>
    </div>

    <div class="form-group">
      <input type="submit" value="Submit"
             class="btn btn-primary btn-raised btn-material-deep-purple"/>
    </div>
  </form>
</template>

